
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* @font-face {
    font-family: "Segoe UI";
    src: url("/fonts/SegoeUI/SegoeUI-Bold.woff2")
        format("woff2"),
        url("/fonts/SegoeUI/SegoeUI-Bold.woff")
        format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Segoe UI";
    src: url("/fonts/SegoeUI/SegoeUI.woff2")
        format("woff2"),
        url("/fonts/SegoeUI/SegoeUI.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  } */

  html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    list-style: none;
    color: #333333;
    /* font-size: 13px; */
    line-height: 150%;
  }
}

@layer components {
  .btn-primary {
    @apply p-[0.313rem];
  }
  .hover-item{
    @apply transition-all duration-150 ease-linear;
  }
  ion-icon {
    @apply text-white   ;
  }
}